language: php
php:
    - '7.2.22'

install:
  - pecl install ast-1.0.3
  - composer self-update
  - composer install --prefer-dist --no-interaction --dev
  - phpenv config-rm xdebug.ini

script:
    - ./ci/style.php
    - ./ci/phan.php

notifications:
    email:
        on_success: never

sudo: false
